:root {
  --ebony : #0f1729;
  --mirage : #1D283A;
  --chathamBlue : #165A80;
  --emerald : #4FC96E;
  --raven : #737984;
  --frenchGray: #C9CACF;
  --cerulean : #0CA6E9;
  --azureRadiance: #007AFF;
}

@font-face {
  font-family: 'Kanit';
  src: url("./assets/fonts/Kanit-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Kanit';
  color: white;
  background-color: var(--ebony);
}
