:root {
  --ebony : #0f1729;
  --mirage : #1D283A;
  --chathamBlue : #165A80;
  --emerald : #4FC96E;
  --raven : #737984;
  --frenchGray: #C9CACF;
  --cerulean : #0CA6E9;
  --azureRadiance: #007AFF;
}

@font-face {
  font-family: 'Kanit';
  src: url("./assets/fonts/Kanit-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Kanit';
  color: white;
  background-color: var(--ebony);
}

.default-content-container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  height: 300px !important;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: var(--frenchGray);
}

.ql-formats button {
  color: red;
  background-color: var(--azureRadiance);
}
